p{
	font-style:normal;
	font-size:20px;
	font-weight:normal;
	color:white;
}

ul, ol{
	list-style:none;
	margin:0;
	padding:0;
}

li{
	font-style:normal;
	font-size:20px;
	font-weight:normal;
	color:white;
}

h1{
	font-style:bold;
	font-size:35px;
	color:white;
}
/*상단바 영역*/
.container{
	position:absolute;
	width:100vw;
	height:10vh;
	margin:0px;
	padding:10px;
	background-color:#c0e3f0;
	opacity:0.2;
	z-index:4;
}


/*처음 메인 페이지(intro)*/
.intro{
	position:relative;
	width:100vw;
	height:100vh;
	overflow: hidden;
}

/* intro 본문; Robotics Engineer*/
.intro>div{
	position:absolute;
	color: #edf0d3;
	text-align: center;
	z-index:4;
}
.intro>div:nth-child(1){
	top:20%;
	left:50%;	
}
.intro>div:nth-child(2){
	top:40%;
	left:50%;	
}
.intro h1{
	font-size: 80px;
	font-weight: bold;
	font-style: fantasy;
}


.intro>img{
	position:absolute;
	width: 100vw;
	z-index:3;
	filter:brightness(25%);
}

/*목차(content)*/
.contents{
	position: fixed;
	top:10%;
	margin:40px;
	padding:0px;
	width:200px;
	height:250px;
	background-color: lavender;
	border-radius:20px;
	z-index:2;
}
.contents>div:nth-child(1){
	text-align:center;
	font-size:30px;
}
.contents>div:nth-child(2){
	line-height:2em;
}

/*본문*/
main{
	position:relative;
	margin:0;
	padding:0;
	width:100vw;
	height:400vh;
	z-index:1;
}

/*각 페이지*/
.page{
	position:relative;
	width:calc(100vw-200px);
	height:100vh;
	padding-left:280px;
	padding-top:10%;
	background-color:black;
	border-bottom:1px solid lavender;
}

.page>h1{
	position:relative;
	top:15%;
	width:50%;
	height:20%;
	padding:0;
}
.page>div{
	position:relative;
	border-top:1px solid purple;
	border-bottom:1px solid purple;
	width:60%;
	display:inline-flex;
}
#my_photo{
	position:relative;
	width:25%;
	height:auto;
	padding-right:10%;
	display:inline-flex;
}

#my_photo>img{
	width:100%;
}

.major{
	border:1px solid purple;
	display:inline-flex;
	flex-direction:column;
	padding:1%;
}


.tool>ol>li:nth-child(1){
	background-image:url("");
	background-repeat:no-repeat;
	background-size:contain;
	width:100%;
	display:inline;
}
.tool>ol>li:nth-child(2){
	background-image:url("./src/icons8-visual-studio-code-2019.svg");
	background-repeat:no-repeat;
	background-size:contain;
	width:100%;
	display:inline;
}
