body{
	
}

p{
	font-style:normal;
	font-size:20px;
	font-weight:normal;
}

ul, ol{
	list-style:none;
}


/* intro 페이지 구획*/
#intro{
	position:relative;
	width:100vw;
	height:100vh;
	overflow: hidden;
}

/* intro 본문*/
#intro>div{
	position:absolute;
	font-size: 80px;
	font-weight: bold;
	font-style: fantasy;
	color: #edf0d3;
	text-align: center;
	z-index: 3;
}
#intro>div:nth-child(1){
	top:20%;
	left:50%;	
}
#intro>div:nth-child(2){
	top:40%;
	left:50%;	
}


#intro>img{
	position:absolute;
	width: 100vw;
	z-index: 1;
	filter:brightness(25%);
}

#contents{
	margin:40px;
	padding:0px;
	width:200px;
	height:250px;
	background-color: lavender;
}
#contents>div:nth-child(1){
	text-align:center;
	font-size:30px;
}
#contents>div:nth-child(2){
	line-height:2em;
}
