body{
	
}

p{
	font-style:normal;
	font-size:20px;
	font-weight:normal;
}

ul, ol{
	list-style:none;	
}


/* intro 페이지 구획*/
#intro{
	position:relative;
	width:100vw;
	height:20vh;
	background-color:rgba(20,20,20,0.5);
	opacity=0.3;
	z-index:2;
}

/* intro 본문*/
#intro>div{
	position:absolute;
	top:40%;
	left:35%;
	font-size: 30px;
	font-weight: bold;
	font-style: fantasy;
	color: #edf0d3;
	text-align: center;
}

.night_photo{
	position:absolute;
	width: 100vw;
	z-index:1;
}